@import "parts/fonts";

// support
@import "support/list-reset";
@import "support/visually-hidden";
@import "support/animation";

// blocks
@import "parts/variables";
@import "parts/global";

@import "parts/title";
@import "parts/wrapper";
@import "parts/navigation";
@import "parts/button";
@import "parts/buttons-group";
@import "parts/logo";
@import "parts/search";
@import "parts/breadcrumbs";
@import "parts/decorate";
@import "parts/data-list";

// sections
@import "sections/header";
@import "sections/slder-home";
@import "sections/activities";
@import "sections/results";

@import "sections/page-content";
@import "sections/hero";
@import "sections/quick-links";
@import "sections/slider";

@import "sections/footer";


// special
@import "special/js-menu-active";
@import "special/js-search-active";

