@import "parts/fonts";

// support
@import "support/list-reset";
@import "support/visually-hidden";

// blocks
@import "parts/variables";
@import "parts/global";
@import "parts/wrapper";

// sections
@import "sections/header";
@import "sections/main";
@import "sections/footer";
