@import "parts/fonts";

// support
@import "support/list-reset";
@import "support/visually-hidden";
@import "support/animation";

// blocks
@import "parts/variables";
@import "parts/global";
@import "parts/wrapper";
@import "parts/navigation";
@import "parts/button";


// sections
@import "sections/header";
@import "sections/main";
@import "sections/footer";


// special
@import "special/js-menu-active";

