.activities {
  background-color: var(--col10);
  color: var(--col3);
  padding: 60px 0 50px;
}

hr {
  margin: 0;
  margin-bottom: 30px;
  background: #1E2A5A;
  opacity: 0.2;
}

.activities__title {
  color: var(--col3);
}

.activities__list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;

  a {
    text-decoration: none;
    width: calc((100% / 4) - 24px);
    padding: 40px;
    padding-right: 30px;
    background-color: var(--col2);
    color: var(--col3);
    display: flex;
    gap: 30px;
    align-items: center;
    transition: 0.3s;
    position: relative;

    span {
      width: calc(100% - 45px);
      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
      text-transform: uppercase;
      flex-grow: 2;
    }

    &:hover,
    &:focus,
    &:active {
      color: var(--col4);
    }
  }

  .activities__icon {
    max-width: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width: 1500px) {
  .activities__list {
    a {
      width: calc((100% / 2) - 16px);
    }

    span {
      font-size: 16px;
    }
  }
}

@media (max-width: 768px) {
  .activities {
    padding-top: 63px;

    .title {
      margin-bottom: 24px;
    }
  }
  .activities__list a {
    padding: 38px 20px;
  }

  .activities__list a span {
    line-height: 1;
  }
}

@media (max-width: 650px) {
  .activities__list {
    gap: 10px;
    a {
      width: 100%;
      align-items: center;
    }
  }
}

@media (max-width: 425px) {
  .activities {
    padding-top: 35px;
    padding-bottom: 65px;
  }
}

@media (max-width: 360px) {
  .activities__list a {
    gap: 16px;
    padding: 25px 15px;
  }
}
