.activities {
  background-color: var(--col10);
  color: var(--col3);
  padding: 60px 0 50px;
}

hr {
  margin: 0;
  margin-bottom: 30px;
  background: #1E2A5A;
  opacity: 0.2;
}

.activities__title {
  color: var(--col3);
}

.activities__list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;

  a {
    text-decoration: none;
    width: calc((100% / 4) - 24px);
    padding: 40px;
    padding-right: 30px;
    background-color: var(--col2);
    color: var(--col3);
    display: flex;
    gap: 24px;
    align-items: flex-start;
    transition: 0.3s;
    position: relative;

    svg {
      max-width: 50px;
      width: 100%;
    }

    span {
      width: calc(100% - 45px);
      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
      text-transform: uppercase;
      flex-grow: 2;
    }

    &:hover,
    &:focus,
    &:active {
      color: var(--col4);
    }
  }
}
