.header {
  padding-top: 24px;
  overflow: hidden;
}

.header__flex {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header__logo {
  flex-basis: 805px;
  margin: 0;
  flex-grow: 2;
}

.header__buttons {
  flex-basis: 435px;
}

.header__button-nav {
  display: none;
}

.header__navigation {
  padding-bottom: 2px;
}

.header__search {
  width: 100%;
  min-height: 64px;

}

@media (max-width: 1300px) {
  .header__logo {
    flex-basis: content;
    flex-grow: initial;
  }

  .header__logo img {
    max-width: 54px;
  }

  .header__logo figcaption {
    max-width: 360px;
    font-size: 18px;
  }
}

@media (max-width: 1200px) {
  .header {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .header__button-nav {
    display: block;
  }

  .header__navigation {
    transform: translate(-150%);
    transition: transform 0.5s ease-in-out;
    position: absolute;
    height: calc(100vh);
  }
}

@media (max-width: 900px) {
  .header__logo figcaption {
    max-width: 200px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .header {
    padding-top: 20px;
    background-color: #fff;
    padding-bottom: 20px;
    z-index: 11;
  }

  .header__buttons {
    flex-basis: content;
  }

  .header__btn-user,
  .header__btn-eye {
    display: none;
  }

  .header__button-nav {
    margin-left: 10px;
  }

  .header__navigation {
    padding: 120px 0 20px;
    height: calc(100vh - 120px - 20px);
  }
}

@media (max-width: 425px) {
  .header__navigation {
    padding: 0;
    height: calc(100vh);
  }

  .header__logo img {
    max-width: 45px;
  }

  .header__logo figcaption {
    max-width: 150px;
    font-size: 12px;
  }
}
