.quick-links {
  background-color: var(--col4);
  position: relative;
  z-index: 11;
  max-width: 100%;
  padding: 0 40px;
  width: 100%;
}

.quick-links__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;


  li {
    width: 25%;
  }

  a {
    color: var(--col2);
    display: flex;
    align-items: center;
    gap: 24px;
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
    text-align: right;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 20px 35px 20px 20px;
    text-decoration: none;
    position: relative;
    justify-content: flex-end;
    transition: 0.3s;
    min-height: 104px;

    span {
      width: calc(100% - 52px - 24px);
    }

    svg {
      transition: 0.3s;
      width: 52px;
    }

    &::after {
      content: '';
      display: block;
      width: 1px;
      height: 30%;
      background-color: var(--col2);
      opacity: 0.2;
      position: absolute;
      right: 0;
    }
  }



  li:last-of-type {
    a:after {
      display: none;
    }
  }
}

.quick-links__list {

  li {
    background-color: inherit;

    &:hover,
    &:active,
    &:focus {
      background-color: var(--col3);

      svg path {
        stroke: var(--col5);
      }

      &::after {
        display: none;
      }

    }
  }

}

@media (max-width: 1500px) {
  .quick-links {
    padding: 0;
  }

  .quick-links__list {
    flex-wrap: wrap;

    li {
      width: 50%;
    }

    li:nth-child(2n) {
      a {
        flex-direction: row-reverse;
      }

      span {
        text-align: initial;
      }

      a::after {
        display: none;
      }
    }

    a {
      font-size: 16px;
      padding: 20px 40px;

      &::before {
        content: '';
        display: block;
        width: 90%;
        height: 1px;
        background-color: var(--col2);
        opacity: 0.2;
        position: absolute;
        left: 5%;
        bottom: 0;
      }

      &::after {
        height: 50%;
      }

      &:hover {

        &::after,
        &::before {
          display: none;
        }
      }
    }

  }
}

@media (max-width: 650px) {
  .quick-links__list li {
    width: 100%;
  }

  .quick-links__list li a {
    flex-direction: row-reverse;
    font-size: 14px;
    text-align: left;
    padding: 20px;
  }

  .quick-links__list a::after {
    display: none;
  }
  .quick-links__list a {
    min-height: 80px;
  }

  .quick-links__list  li:first-child a {
    min-height: 100px;
  }

  .quick-links__list  li:last-child a {
    min-height: 100px;
  }
}
