.slder-home {
  position: relative;

  .button--custom {
    position: absolute;
    bottom: 32px;
    z-index: 11;

    &:hover,
    &:focus {
      background-color: transparent;
    }
  }

  .button--custom-next {
    right: 10%;
  }

  .button--custom-prev {
    left: 10%;

    span {
      right: -72px;
      left: auto;
    }
  }

  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 68px;
    left: 0;
    width: 100%;
    pointer-events: initial;
    z-index: 9;
  }

  .swiper-pagination-bullet {
    background-color: #CBCCD1;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background-color: var(--col5);
  }
}


.slder-home__item {
  position: relative;
  min-height: 816px;
  z-index: 0;
  max-width: 608px;
  width: 100%;

  img {
    display: block;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(30, 42, 90, 0.67), rgba(30, 42, 90, 0.67));
    z-index: 2;
    top: 0;
    left: 0;
    transition: 0.3s;
  }
}

.slder-home__details {
  position: relative;
  z-index: 3;
  color: var(--col2);
  padding: 30px 32px 35px;
  transition: 0.3s;
  margin: 24px;

  h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.4;
    color: inherit;
    margin: 0;
    margin-bottom: 9px;
    transition: 0.3s;
  }

  hr {
    max-width: 48px;
    color: var(--col5);
    margin: 0;
    background-color: var(--col5);
    border: none;
    height: 2px;
    width: 100%;
    margin-bottom: 13px;
    transition: 0.3s;
    opacity: 1;
  }

  p {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
    color: inherit;
    opacity: 0.8;
    transition: 0.3s;
    margin-bottom: 23px;
  }
}

.slder-home__data {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: 0.3s linear;
  bottom: -50px;
  position: relative;
}

.swiper-slide-active {

  .slder-home__details {
    color: var(--col3);
    background-color: var(--col2);
  }

  .slder-home__data {
    opacity: 1;
    max-height: 1000px;
    overflow: hidden;
    bottom: 0;
  }

  &::after {
    opacity: 0;
  }
}

.navigation-wrapper {
  height: 0;
}

@media (max-width: 1200px) {
  .slder-home .button--custom-next {
    right: 5%;
  }

  .slder-home .button--custom-prev {
    left: 5%;
  }
}

@media (max-width: 1024px) {
  .slder-home__item {
    min-height: 655px;
    max-width: 550px;
  }

  .slder-home .data-list li span {
    font-size: 56px;
  }

  .slder-home__details {
    margin: 16px;
    padding: 30px 27px 35px;
  }

  .slder-home .data-list {
    .slder-home .data-list {
      gap: 16px;
      align-items: stretch;

      li {
        width: calc(50% - 8px);
        display: flex;
        justify-content: space-between;
        flex-direction: column;
      }
    }

    .data-list .button {
      min-height: 65px;
    }
  }
}

@media (max-width: 768px) {

  .slder-home__item {
    max-width: 500px;
  }

  .slder-home__details {
    padding: 16px 32px 22px;
  }

  .slder-home__details h3 {
    font-size: 32px;
  }

  .slder-home__details p {
    font-size: 16px;
    margin-bottom: 25px;
  }

  .slder-home__details hr {
    margin-bottom: 16px;
  }

  .slder-home {
    .data-list {
      gap: 18px 19px;
    }

    .data-list li {
      width: calc(50% - 13px);
    }
    .data-list .button {
      min-height: 68px;
    }
  }

 /*  .slder-home .swiper-wrapper {
    height: 100% !important;
    min-height: 900px !important;
  } */


}

@media (max-width: 650px) {

  .slder-home {
    &__item {
      max-width: 100%;

      img {
        position: initial;
        max-height: 400px;
        object-fit: cover;
        background-position: top center;
      }

      &::after {
        display: none;

      }
    }

    .data-list {
      li {
        span {
          font-size: 48px;
        }
      }

      .button {
        min-height: initial;
      }

      .button__arrow path {
        fill: #2A3F9B;
      }
    }



    .slder-home__data {
      opacity: 1;
      max-height: 1000px;
      overflow: hidden;
      bottom: 0;
    }

    .slder-home__details {
      padding-bottom: 90px;
      margin: 0;
    }



    .navigation-wrapper {
      position: relative;
    }

    .slder-home .button--custom {
      position: relative;
      width: 40px;
      height: 40px;

      .button__decorate-round {
        display: none;
      }


    }

    .button--custom {
      border: none;
      width: auto;
      height: auto;

      svg path {
        fill: #2A3F9B !important;
      }
    }

    .swiper-pagination {
      bottom: 35px !important;
    }

    .button--custom span {
      display: none;
    }

  }

  .slder-home .button--custom-next {
    right: 4%;
    width: 40px;
    height: 40px;
    bottom: 13px;

    .button__decorate-round {
      display: none;
    }
  }

  .slder-home .button--custom-prev {
    left: 4%;
    width: 40px;
    height: 40px;
    bottom: 13px;

    .button__decorate-round {
      display: none;
    }
  }

}

@media (max-width: 425px) {

  .slder-home {
    .swiper-wrapper {
      height: auto !important;
    }

    &__item {
      height: auto;
      min-height: auto;
    }

    .data-list {
      gap: 11px 25px;
    }

    .data-list li {
      font-size: 12px;

      span {
        font-size: 48px;
        margin-top: 2px;
      }

      .button {
        font-size: 16px;
        min-height: 56px;
      }
    }

    &__details {
      padding: 10px 19px 35px;

      p {
        font-size: 14px;
        margin-bottom: 16px;
      }

      h3 {
        font-size: 24px;
      }
    }

    &__item img {
      max-height: 240px;
    }

  }

  .slder-home .slder-home__content {
    padding-bottom: 13px;
  }

  .slder-home .slder-home__details {
    padding-bottom: 50px;
  }

  .slder-home .sticky-section  .button {
    min-height: 80px;
  }

}
