.slder-home {}

.slder-home__content {}

.slder-home__item {
  position: relative;
  min-height: 816px;
  z-index: 0;
  max-width: 608px;
  width: 100%;

  img {
    display: block;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(30, 42, 90, 0.67), rgba(30, 42, 90, 0.67));
    z-index: 2;
    top: 0;
    left: 0;
  }
}

.slder-home__details {
  position: relative;
  z-index: 3;
  color: var(--col2);
  padding: 30px 32px 35px;
  transition: 0.3s;
  margin: 24px;

  h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.4;
    color: inherit;
    margin: 0;
    margin-bottom: 9px;
    transition: 0.3s;
  }

  hr {
    max-width: 48px;
    color: var(--col5);
    margin: 0;
    background-color: var(--col5);
    border: none;
    height: 2px;
    width: 100%;
    margin-bottom: 13px;
    transition: 0.3s;
  }

  p {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
    color: inherit;
    opacity: 0.8;
    transition: 0.3s;
    margin-bottom: 23px;
  }
}

.slder-home__data {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: 0.3s linear;
  bottom: -50px;
  position: relative;
}

.swiper-slide-active {

  .slder-home__details {
    color: var(--col3);
    background-color: var(--col2);
  }
  .slder-home__data {
    opacity: 1;
   max-height:1000px;
    overflow: hidden;
    bottom: 0;
  }
}
