.slider-promo {
  position: relative;
  background-color: var(--col4);
  color: var(--col2);
  z-index: 0;

  &__item {
    padding: 80px 0 58px;

    .wrapper {
      z-index: 2;
      position: relative;
      width: 100%;
    }

    .title {
      color: inherit;
      font-weight: 700;
      font-size: 48px;
      margin-bottom: 28px;
      line-height: 1.15;

    }

    hr {
      margin-bottom: 30px;
    }

  }

  &__date {
    color: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
    opacity: 0.6;
  }

  &__details {
    max-width: 992px;
    margin: 0;
    margin-right: auto;
  }

  &__mini {
    max-width: 162px;
    display: block;
    margin-bottom: 20px;
  }

  &__image {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    display: block;
    object-fit: cover;
    z-index: 1;
  }

  &__navigation {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 22;
    pointer-events: none;

    .wrapper {
      position: relative;
      height: 100%;
      padding: 80px 0 40px;
    }

    .button--custom {
      position: absolute;
      right: 40px;
      top: 32%;
      pointer-events: initial;
      background-color: transparent;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 2px solid;
      border-color: #B93183;
      color: var(--col2);
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        position: absolute;
        left: -72px;
        font-weight: 400;
        font-size: 13px;
        line-height: 1;
      }

      svg {
        pointer-events: none;
      }

      &:hover,
      &:focus,
      &:active {
        svg path {
          stroke: transparent;
          fill: #ffffff;
        }
      }
    }

    .swiper-pagination {
      max-width: max-content;
      position: absolute;
      right: 40px;
      bottom: 70px;
      left: initial;
      top: initial;
      pointer-events: initial;
      color: var(--col2);
      font-weight: 400;
      font-size: 12px;
      line-height: 1;
      text-align: right;
      letter-spacing: 0.03em;
      display: flex;

      .swiper-pagination-current {
        font-size: 56px;
        color: inherit;
        font-weight: 700;
      }

      .swiper-pagination-total {
        color: inherit;
        font-weight: 700;
        padding-left: 5px;
      }
    }
  }


}
