.slider-promo {
  position: relative;
  background-color: var(--col4);
  color: var(--col2);
  z-index: 0;

  &__item {
    padding: 80px 0 58px;

    .wrapper {
      z-index: 2;
      position: relative;
      width: 100%;
    }

    .title {
      color: inherit;
      font-weight: 700;
      font-size: 48px;
      margin-bottom: 28px;
      line-height: 1.15;

    }

    hr {
      margin-bottom: 30px;
    }

  }

  &__date {
    color: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
    opacity: 0.6;
  }

  &__details {
    max-width: 992px;
    margin: 0;
    margin-right: auto;
  }

  &__mini {
    max-width: 162px;
    display: block;
    margin-bottom: 20px;
  }

  &__image {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    display: block;
    object-fit: cover;
    z-index: 1;
  }

  &__navigation {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 22;
    pointer-events: none;

    .wrapper {
      position: relative;
      height: 100%;
      padding: 80px 0 40px;
    }

    .button--custom {
      position: absolute;
      right: 5%;
      top: 32%;
      pointer-events: initial;
      background-color: transparent;
      width: 80px;
      height: 80px;
      color: var(--col2);
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        position: absolute;
        left: -72px;
        font-weight: 400;
        font-size: 13px;
        line-height: 1;
      }

      svg {
        pointer-events: none;
      }

      &:hover,
      &:focus,
      &:active {
        svg path {
          stroke: transparent;
          fill: #ffffff;
        }
      }
    }

    .swiper-pagination {
      max-width: max-content;
      position: absolute;
      right: 40px;
      bottom: 70px;
      left: initial;
      top: initial;
      pointer-events: initial;
      color: var(--col2);
      font-weight: 400;
      font-size: 12px;
      line-height: 1;
      text-align: right;
      letter-spacing: 0.03em;
      display: flex;

      .swiper-pagination-current {
        font-size: 56px;
        color: inherit;
        font-weight: 700;
      }

      .swiper-pagination-total {
        color: inherit;
        font-weight: 700;
        padding-left: 5px;
      }
    }

    .button--custom-prev {
      display: none;
      right: auto;
      left: 5%;

      span {
        right: -72px;
        left: auto;
      }
    }

  }


}

.slider-promo__hide-btn {
  display: none;
}

@media (max-width: 1200px) {

  .slider-promo__item .title {
    font-size: 32px;

  }

  .slider-promo__details {
    max-width: 610px;
  }

  .slider--stories .swiper-slide-active::before,
  .custom-hover:hover::before,
  .custom-hover:focus::before,
  .custom-hover:active::before {
    display: none;
  }

  .slider--stories .demo-data {
    opacity: 1;
    max-height: 1000px;
    overflow: hidden;
    bottom: 0;
  }
}

@media (max-width: 768px) {
  .slider-promo {
    .slider-promo__item {
      margin-right: 0;
      padding: 0;
      display: flex;
      flex-direction: column-reverse;
    }

    .slider-promo__image {
      position: initial;
      width: 100%;
      height: auto;
      display: block;
    }

    .slider-promo__details {
      max-width: 100%;
      padding: 40px 0 70px;
    }

    .slider-promo__navigation .wrapper {
      padding: 0;
    }
  }

  .slider-promo__navigation .button--custom {
    top: 15%;
  }

  .slider-promo__navigation .swiper-pagination {
    bottom: auto;
    top: 35%;
  }

  .slider-promo .slider-promo__image {
    min-height: 235px;
  }

  .slider-promo {
    .button--custom span {
      display: none;
    }

    .button--custom {
      border: none;
      width: 40px;
      height: 40px;
      .button__decorate-round {
        display: none;
      }
    }

    .swiper-pagination {
      top: 28%;
    }
  }

  .slider-promo__btn-next {
    right: 5%;
  }

  .slider-promo__navigation .slider-promo__hide-btn {
    display: block;
    right: auto;
    left: 5%;
  }

  .slider-promo__item .title {
    font-size: 25px;
    line-height: 1.5;
  }

  .slider-promo .slider-promo__details {
    padding-bottom: 45px;
  }

  .button--custom-prev {
    display: flex !important;
  }

}
