.slider {
  background-color: var(--col10);
  color: var(--col3);
  padding: 60px 0 55px;
}

.slider__header {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  justify-content: space-between;
  padding-bottom: 20px;
  position: relative;

}

.slider__title {
  color: var(--col3);
  font-weight: 700;
  max-width: max-content;
  display: inline-block;
  margin: 0;
}


.slider__navigation {
  display: flex;
  gap: 16px;
  align-items: center;
  max-width: max-content;

  button {
    background-color: var(--col11);

    svg {
      pointer-events: none;
    }

    &:hover,
    &:focus {
      svg path {
        stroke: transparent;
        fill: var(--col2);
      }
    }


  }
}

.slider__content {
  padding-top: 30px;
}

.slider__item {
  background-color: var(--col2);
  color: var(--col3);
  padding: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  width: 400px;
  text-decoration: none;
  margin: 0 16px;

  img {
    display: block;
    margin-bottom: 20px;
  }

  h3 {
    font-weight: inherit;
    font-size: inherit;
    margin: 0;
    margin-bottom: 35px;
  }

  hr {
    background-color: var(--col5);
    width: 32px;
    height: 2px;
    margin: 0;
    display: block;
    border: none;
    margin-bottom: 17px;
    opacity: 1;
  }

  a {
    font-size: 14px;
    color: #25272D;
    opacity: 0.6;
    font-family: inherit;
  }
}

.slider__btn {
  background-color: var(--col4);
  color: var(--col2);
}

// НАЧАЛО слайдер истории успеха
.slider--stories {
  background-color: var(--col2);
  padding-bottom: 0;

  .slider__content {
    padding-bottom: 55px;
  }

  hr {
    margin: 0;
  }

  .slider__item {
    text-decoration: none;
    font-family: inherit;
    padding: 0;
    width: 608px;

    box-sizing: border-box;
    background-color: transparent;

    hr {
      margin-bottom: 17px;
    }
  }

  .demo-data {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
    bottom: -50px;
    position: relative;
  }

  .swiper-slide {

    &:hover,
    &:focus {
      z-index: 2;

      &::before {
        left: -24px;
        top: -24px;
        bottom: -24px;
        right: -24px;
        -webkit-box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.25);
        box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.25);
      }

      .demo-data {
        opacity: 1;
        max-height: 1000px;
        overflow: hidden;
        bottom: 0;
      }

      h3 {
        color: var(--col4);
      }
    }
  }

  img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
  }


}

//  слайдер партнёры
.slider--partners {
  padding-bottom: 0;

  .slider__content {
    padding-bottom: 55px;
    padding-top: 0;
  }


  .slider__item {
    width: 352px;

    &:hover,
    &:focus {
      z-index: 2;

      &::before {
        left: -15px;
        top: -15px;
        bottom: -15px;
        right: -15px;
        box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.25);
      }

      h3 {
        color: var(--col4);
      }

      a {
        color: var(--col5);
        opacity: 1;
      }
    }
  }
}

// НАЧАЛО новостной слайдер
.slider--news {
  padding-bottom: 0;
  background-color: var(--col2);

  hr {
    margin-bottom: 0;
  }

  .slider__content {
    padding-bottom: 55px;
  }

  .slider__item {
    padding: 0;
    background-color: transparent;
    width: 420px;

    img {
      width: 100%;
      display: block;
      height: 100%;
      object-fit: cover;
    }

    h3 {
      margin-bottom: 15px;
    }

    time {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.4;
      color: #1E2A5A;
      opacity: 0.6;
    }

    hr {
      margin-bottom: 17px;
    }

    &:hover,
    &:focus {

      &::before {
        left: -24px;
        top: -24px;
        bottom: -24px;
        right: -24px;
        box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.25);
      }

      h3 {
        color: var(--col4);
      }

    }


  }
}

.slder-home .swiper-pagination {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 235px;
  left: auto !important;
  right: auto !important;
  margin: 0 auto;
  gap: 12px 16px;

  .swiper-pagination-bullet {
    margin: 0;
  }
}

@media (max-width: 1200px) {

  .slider--news .slider__item {
    width: 448px;
  }

  .slider--partners .slider__item {
    width: 368px;
  }

}

@media (max-width: 768px) {
  .slider--stories .slider__item {
    width: 528px;
  }

  .slider--news .slider__item {
    width: 328px;
  }
  .slider--partners .slider__item {
    width: 328px;
  }
}

@media (max-width: 690px) {
  .slider__header {
    flex-wrap: wrap;
    gap: 16px;
    padding-bottom: 26px;
  }

  .slider__title {
    width: 100%;
    min-width: 55%;
  }

  .slider__navigation {
    justify-content: flex-end;
    flex-grow: 2;
    width: auto;
    max-width: initial;
    gap: 10px;

    .slider__btn {
      margin-right: auto;

    }
  }

  .slider__item img {
    width: 100%;
  }

  .slider--partners {
    .slider__item img {
      width: initial;
    }
  }


  .slider--news {
    padding-top: 35px;
    padding-bottom: 0;
  }

  .slider--stories {
    padding-top: 35px;
  }

  .slider--partners {
    padding-top: 35px;
  }

  .slider__header .button {
    height: 45px !important;
    min-width: 45px;
  }

  .slider__header .slider__btn {
    padding: 14px 24px;
  }

  .slider__content {
    padding-top: 24px;
  }


}

@media (max-width: 550px) {
  .slider--stories .slider__item {
    width: calc(100% - 40px);
    margin: 0 20px;
  }

  .slider--stories .slider__item h3 {
    margin-bottom: 16px;
  }
}

@media (max-width: 425px) {
  .slider__item {
    margin: 0;
    padding: 0 20px;
  }

  .slider--news {

    .slider__item {
      width: calc(100% - 40px);
      margin: 0 20px;

      hr {
        margin-bottom: 11px;
      }
    }

    .slider__content {
      padding-bottom: 44px;
    }

    .slider__item img {
      min-height: 195px;
      margin-bottom: 18px;
    }


  }

  .slider--partners {

    .slider__content {
      padding-top: 0;
    }

    hr {
      margin-bottom: 23px;
    }

    .swiper-wrapper {
      height: auto;
    }

    .slider__item {
      padding: 20px 28px 15px;
    }

    .slider__item img {
      margin-bottom: 12px;
    }

    .slider__item h3 {
      margin-bottom: 15px;
    }

    .slider__item hr {
      margin-bottom: 11px;
    }

    .slider__content {
      padding-bottom: 50px;
    }

    .slider__item {
      width: calc(100% - 40px);
      margin: 0 20px;
    }

    // .slider--stories .slider__item {
    //   width: calc(100% - 40px);
    //   margin: 0 20px;
    // }

    .slider__item {
      width: 328px;
    }


  }

  .slider--stories .slider__content {
    padding-bottom: 10px;
  }

  .slder-home .swiper-pagination {
    max-width: 180px;
  }

}

@media (max-width: 320px) {

  .slider--news .slider__item {
    width: calc(100% - 20px);
    margin: 0 10px;
  }

  .slider--partners .slider__item {
    width: calc(100% - 20px);
    margin: 0 10px;
  }


  .slider--stories .slider__item {
    width: calc(100% - 20px);
    margin: 0 10px;
  }
}
