.slider {
  background-color: var(--col10);
  color: var(--col3);
  padding: 60px 0 55px;
}

.slider__header {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  justify-content: space-between;
  padding-bottom: 20px;
  position: relative;

}

.slider__title {
  color: var(--col3);
  font-weight: 700;
  max-width: max-content;
  display: inline-block;
  margin: 0;
}


.slider__navigation {
  display: flex;
  gap: 16px;
  align-items: center;
  max-width: max-content;

  button {
    background-color: var(--col11);

    svg {
      pointer-events: none;
    }

    &:hover,
    &:focus,
    &:active {
      svg path {
        stroke: transparent;
        fill: var(--col2);
      }
    }


  }
}

.slider__content {
  padding-top: 30px;
}

.slider__item {
  background-color: var(--col2);
  color: var(--col3);
  padding: 32px;
  font-weight: 500;
  font-size: 16px;

  img {
    display: block;
    margin-bottom: 20px;
  }

  h3 {
    font-weight: inherit;
    font-size: inherit;
    margin: 0;
    margin-bottom: 35px;
  }

  hr {
    background-color: var(--col5);
    width: 32px;
    height: 2px;
    margin: 0;
    display: block;
    border: none;
    margin-bottom: 17px;
    opacity: 1;
  }

  a {
    font-size: 14px;
    color: #25272D;
    opacity: 0.6;
    font-family: inherit;
  }
}

.slider--stories {
  background-color: var(--col2);
  padding-bottom: 0;

  .slider__content {
    padding-bottom: 55px;
  }

  hr {
    margin: 0;
  }

  .slider__item {
    text-decoration: none;
    font-family: inherit;
    padding: 0 !important;
    max-width: 608px;
    width: 100%;
    box-sizing: border-box;

    &:hover,
    &:focus,
    &:active {
      z-index: 2;

      .demo-data {
        opacity: 1;
        max-height: 1000px;
        overflow: hidden;
        bottom: 0;
      }

      &::before {
        left: -24px;
        top: -24px;
        bottom: -24px;
        right: -24px;
        box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.25);
      }

      h3 {
        color: var(--col4);
      }
    }

    hr {
      margin-bottom: 17px;
    }
  }

  .demo-data {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
    bottom: -50px;
    position: relative;
  }

}



.slider__btn {
  background-color: var(--col4);
  color: var(--col2);
}

.slider--partners {
  padding-bottom: 0;

  .slider__content {
    padding-bottom: 55px;
  }

  .slider__item {
    max-width: 352px;
    width: 100%;

    &:hover,
    &:focus,
    &:active {
      z-index: 2;

      &::before {
        left: -15px;
        top: -15px;
        bottom: -15px;
        right: -15px;
        box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.25);
      }

      h3 {
        color: var(--col4);
      }

      a {
        color: var(--col5);
        opacity: 1;
      }
    }
  }
}
