.breadcrumbs {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 24px;
  }
  li {
    position: relative;
    display: flex;
    align-items: center;

    &::after {
      content: '';
      position: absolute;
      right: -16px;
      display: block;
      height: 2px;
      width: 8px;
      background-color: var(--col5);
    }

    a {
      color: inherit;
      font-family: inherit;
      text-decoration: none;

      &:not([href]) {
        opacity: 0.7;
      }
    }

    &:last-of-type {
      &::after {
        display: none;
      }
      /* a {
        opacity: 0.7;
      } */
    }
  }

}
