.button {
  display: inline-block;
  background-color: var(--col4);
  color: var(--col2);
  text-decoration: none;
  cursor: pointer;
  border: none;
  padding: 12px;
}

.button--nav {
  height: 48px;
  width: 48px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    display: block;
    position: relative;
    background: var(--col2);
    width: 100%;
    height: 2px;
    transition: 0.4s;
    pointer-events: none;

    &::after,
    &::before {
      content: "";
      display: block;
      position: absolute;
      background: var(--col2);
      width: 75%;
      height: 2px;
      transition: 0.4s;
    }

    &::before {
      top: -8px;
      width: 65%;
    }

    &::after {
      top: 8px;
    }
  }
}

.button--icon {
  background-color: var(--col7);
}

