html {
  box-sizing: border-box;

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

}

body {
  margin: 0;
  min-width: 320px;
  font-style: normal;
  overflow: hidden;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  color: var(--col1);
}

img {
  height: auto;
  max-width: 100%;
}

input,
textarea,
a,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

:focus {
  outline-style: none;
  outline-width: 0px !important;
  outline-color: none !important;
}
