.logo {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 0;

  img {
    display: block;
    max-width: 72px;
  }

  figcaption {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.2;
    text-transform: uppercase;
    color: var(--col3);

    b {
      font-weight: 700;
    }
  }
}

@media (max-width: 1300px) {
  .logo img {
    max-width: 54px;
  }

  .logo figcaption {
    max-width: 360px;
    font-size: 18px;
  }
}

@media (max-width: 900px) {
  .logo figcaption {
    max-width: 200px;
    font-size: 14px;
  }
}

@media (max-width: 425px) {
  .logo {
    gap: 10px;
    margin-bottom: 20px;
  }
  .logo img {
    max-width: 45px;
  }

  .logo figcaption {
    max-width: 150px;
    font-size: 12px;
  }
}
