.move-up {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 11;


  &__link {
    svg {
      width: 50px;
      height: 50px;
    }
  }
}
