.navigation__list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  gap: 0 16px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

// .navigation__item {
//   margin-right: auto;
// }

.navigation__link {
  font-family: var(--ff1);
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--col3);
  text-decoration: none;
  position: relative;
  max-width: max-content;
  display: inline-block;
  padding: 27px 0;
  transition: all .3s;

  &::after {
    bottom: 0;
    left: 0;
    content: "";
    display: block;
    height: 2px;
    width: 0%;
    background-color: var(--col4);
    position: absolute;
    transition: all .3s;
  }

  &::before {
    display: none;
  }

  &:hover,
  &:focus {
    color: var(--col4);

    &::after {
      left: 0%;
      width: 100%;
    }
  }

  hr {
    display: none;
  }


}

.navigation__list--mobile {
  display: none;
}

@media (max-width: 1200px) {

  .navigation {
    background-color: var(--col2);
    color: var(--col3);
    padding: 120px 0 135px;
    height: calc(100vh - 120px - 135px);
    overflow-y: auto;
  }

  .navigation__item {
    width: calc(50% - 8px);
    margin-right: initial;
  }

  .navigation__link {
    display: flex;
    align-items: center;
    font-size: 20px;
    width: 100%;
    max-width: 100%;
    padding: 28px 16px;
    padding-left: calc(24px + 32px + 16px);

    hr {
      width: calc(100% - (24px + 32px + 16px));
      position: absolute;
      bottom: 0;
      height: 1px;
      border: none;
      display: block;
      background-color: var(--col6);
      right: 0;
      margin: 0;
      z-index: -2;
    }

    &:after {
      z-index: -1;
      height: calc(100% + 4px);
      left: initial;
      right: 0;
      opacity: 0;
      top: -2px;
      bottom: initial;
      background-color: var(--col4);
      width: 100%;
    }

    &:before {
      content: '';
      display: flex;
      width: 32px;
      height: 16px;
      background-image: url(../img/icons/menu-arrow.svg);
      background-repeat: no-repeat;
      pointer-events: none;
      background-position: center;
      position: absolute;
      left: 16px;
      transition: .3s;
    }
  }

  .navigation__link:hover,
  .navigation__link:focus,
  .navigation__link:active {
    background-color: transparent;
    color: var(--col2);

    &:after {
      opacity: 1;
      left: initial;
    }

    &:before {
      left: 16px;
      transform: rotate(90deg) translateY(0);
    }
  }

}

@media (max-width: 768px) {

  .navigation__item {
    width: 100%;

    &:last-child hr {
      display: none;
    }
  }

  .navigation__link:hover,
  .navigation__link:focus,
  .navigation__link:active {

    &:after {
      width: calc(100% + 24px + 24px);
      left: -24px;
    }

    &:before {
      left: 16px;
      transform: rotate(90deg) translateY(0);
    }
  }

  .navigation__list--mobile {
    display: flex;
    margin-top: 10px;
    gap: 16px;

    .navigation__link {
      background-color: var(--col7);
      color: var(--col3);
      padding: 16px 20px;
      gap: 20px;

      &::before,
      &::after {
        display: none;
      }

      &:hover,
      &:focus,
      &:active {
        background-color: var(--col7);
        color: var(--col3);
      }
    }
  }
}

@media (max-width: 425px) {

  .navigation__link {
    font-size: 14px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: calc(20px + 15px + 20px);

    &:before {
      width: 15px;
      background-image: url(../img/icons/menu-arrow-min.svg);

    }

    hr {
      width: calc(100% - (24px + 15px + 16px));
    }
  }

  .navigation__link:hover,
  .navigation__link:focus,
  .navigation__link:active {

    &:after {
      width: calc(100% + 20px + 20px);
      left: -20px;
    }
  }
}
