.progress-circle {
  width: 77px;
  height: 80px;
  pointer-events: none;
  position: relative;
  overflow: hidden;

  &__indicator,
  &__bg {
    stroke: var(--col5);
    stroke-width: 2px;
    fill: none;
    transform-origin: center;
    transform: rotate(-180deg);
  }

  &__bg {
    stroke: var(--col12);
  }

  &__indicator {
    stroke-dasharray: 226px;
    stroke-dashoffset: 226px;
    stroke-width: 2px;
    fill: none;
    stroke: var(--col5) !important;
  }


}

.progress-circle--prev {

  .progress-circle__indicator,
  .progress-circle__bg {
    transform: none;
  }

}

.button--custom-prev {
  .button__arrow {
    right: 15px ;
  }

  span {
    right: -85px !important;
  }
}

.active {
  .progress-circle__indicator {
    animation: stroke 5s ease forwards;
  }
}

@keyframes stroke {
  to {
    stroke-dashoffset: 0;
  }
}


@media (max-width: 650px) {
  .progress-circle {
    display: none;
  }
}
