.sticky-section {
  position: fixed;
  right: 0;
  top: 36%;
  transform-origin: 100% 100%;
  transform: rotate(-90deg);
  white-space: nowrap;
  z-index: 22;

  .button {
    display: block;
    padding: 32px 48px;
    height: 71px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
  }
}

@media (max-width: 650px) {

  /* .sticky-section {
    position: initial;
    z-index: 11;
    right: 0;
    top: auto;
    transform-origin: 0%;
    transform: none;
    white-space: nowrap;
  }

  .sticky-section .button {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-top: 1px solid #DDDFE6;
    color: var(--col3);
    padding: 12px;
    align-items: center;

    &:hover,
    &:focus {
      color: var(--col3);
    }
  } */
  .sticky-section {
    right: auto;
    top: auto;
    transform: none;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .sticky-section .button {
    height: 71px;
    width: 100%;
    text-align: center;
    background-color: var(--col4);
    color: var(--col2);
  }
}
