:root {
  --ff1: 'Inter', sans-serif;

  --col1: #25272D;
  --col2: #ffffff;

  --col3: #1E2A5A;
  --col4: #2A3F9B;

  --col5: #B93183;
  --col6: #DDDFE6;


  // --col7: #1C202E;
  // --col7: #715962;
}
