:root {
  --ff1: 'Inter', sans-serif;
  --col1: #25272d;
  --col2: #ffffff;
  --col3: #1e2a5a;
  --col4: #2a3f9b;
  --col5: #b93183;
  --col6: #dddfe6;
  --col7: #f2f2f5;
  --col8: #7c7d81;
  --col9: #fafafb;
  --col10: #f7f7f9;
  --col11: #eaeaef;
  --col12: #786F93;
}
